We aimed to create a synthetic dataset to demonstrate customer engagement analysis, focusing on various aspects of magazine consumption across multiple countries.

## Dataset Specifications:

**Size**: 2,000 records

Features/Columns:

`article_id`

`date_time_publish`

`author`

`magazine_name`

*   **Germany**: Bravo, InStyle, TV Movie
*   **France**: Télé Star, Grazia, Closer
*   **UK**: Heat, Grazia, Take a Break
*   **Poland**: Woman & Life, Gala, Twój Styl

`article_type`
*   Horror
*   Romantic
*   Comedy
*   Movie Review
*   Health
*   Biography
*   Economy
*   Politics
*   Family
*   Holiday Tips
*   Home Decor Tips
*   Cooking Recipe
*   Tech

`gender_of_reader`

`age_of_reader`

`occupation_of_reader`

`city_of_reader`

`country_of_reader`

`date_time_customer_opened_article`

`date_time_customer_shared_article`

`time_spent_on_article`: in seconds

`is_customer_subscriber`

`shared_article`

`liked_article`

`commented_on_article`

  

*   **Germany**: Berlin, Munich, Hamburg, Cologne, Frankfurt, Stuttgart, Dusseldorf, Dortmund, Essen, Leipzig
*  **France**: Paris, Marseille, Lyon, Toulouse, Nice, Nantes, Montpellier, Strasbourg, Bordeaux, Lille

*    **UK**: London, Birmingham, Manchester, Glasgow, Leeds, Liverpool, Newcastle, Sheffield, Bristol, Nottingham

*   **Poland**: Warsaw, Krakow, Wroclaw, Gdansk, Poznan, Lodz, Katowice, Bydgoszcz, Lublin, Szczecin

# ---------------------------------------------------------------

## Random Data Generation:

The Python script generates a synthetic dataset with 2,000 records, simulating customer engagement data. It creates random values for various attributes, introduces data imperfections such as missing values, duplicates, and incorrect data types, and renames columns to obscure their meanings. Additionally, it includes outliers and splits columns for demonstration purposes. The resulting dataset is saved as a CSV file, providing a realistic and challenging dataset for exploratory data analysis (EDA).


**Introduced Dataset Dirtiness**:
I added "dirtiness" to the dataset because real-world data is often imperfect. This includes missing values, duplicates, and incorrect data types. By incorporating these issues, the dataset provides a realistic scenario for practicing exploratory data analysis (EDA), helping to demonstrate how to detect and clean such imperfections.

**Missing Values**: Added missing values to various columns.

**Duplications**: Introduced duplicate records to simulate real-world inconsistencies.

**Wrong Data Types**: Deliberately misformatted some data to illustrate data cleaning processes.

**Outliers**: Included extreme values in the time_spent_on_article column.

**Unclear Column Names**: Renamed some columns to obscure their meaning, creating a challenge in data interpretation.

**Column Splitting**: Added new columns for year and month extracted from the date_time_publish column.

**Outcome:**
The result is a `customer_engagement_dirty_data.csv` file that simulates a real-world dataset with intentional imperfections, making it ideal for **exploratory data analysis (EDA)** projects. This dataset allows for practice with data cleaning, handling missing values, dealing with duplicates, correcting data types, and managing outliers.

This synthetic dataset will help in analyzing customer engagement patterns and testing data processing techniques, providing a realistic and challenging environment for data analysis practice.

In [ ]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

In [ ]:
# Initialize random seed
np.random.seed(0)
random.seed(0)

# Number of records
num_records = 2000

In [ ]:
# List of fake names
fake_author_names = [
    'John Smith', 'Zoey Mika', 'Emily Johnson', 'Michael Brown', 'Sophia Davis',
    'William Wilson', 'Olivia Moore', 'James Taylor', 'Isabella Anderson', 'Benjamin Lee',
    'Mia Harris', 'Alexander Clark', 'Charlotte Lewis', 'Ethan Walker', 'Amelia Hall',
    'Daniel Allen', 'Harper Young', 'Matthew King', 'Ella Wright', 'Aiden Scott',
    'Abigail Green', 'Liam Adams', 'Mia Nelson', 'Lucas Carter', 'Sofia Mitchell',
    'Henry Robinson', 'Avery Parker', 'Jack Evans', 'Scarlett Roberts', 'Owen Turner'
]

In [ ]:
# Publisher countries and cities
publisher_countries_cities = {
    'Germany': ['Berlin', 'Munich', 'Hamburg', 'Cologne', 'Frankfurt', 'Stuttgart'],
    'France': ['Paris', 'Marseille', 'Lyon', 'Toulouse', 'Nice', 'Nantes'],
    'UK': ['London', 'Birmingham', 'Manchester', 'Glasgow', 'Leeds', 'Liverpool'],
    'Poland': ['Warsaw', 'Krakow', 'Wroclaw', 'Gdansk', 'Poznan', 'Lodz']
}

# Reader countries and cities
reader_countries_cities = {
    'Germany': ['Berlin', 'Munich', 'Hamburg', 'Cologne', 'Frankfurt', 'Stuttgart'],
    'France': ['Paris', 'Marseille', 'Lyon', 'Toulouse', 'Nice', 'Nantes'],
    'UK': ['London', 'Birmingham', 'Manchester', 'Glasgow', 'Leeds', 'Liverpool'],
    'Poland': ['Warsaw', 'Krakow', 'Wroclaw', 'Gdansk', 'Poznan', 'Lodz'],
    'USA': ['New York', 'Los Angeles', 'Chicago'],
    'India': ['Mumbai', 'Delhi', 'Bangalore'],
    'Japan': ['Tokyo', 'Osaka', 'Kyoto'],
    'South Korea': ['Seoul', 'Busan', 'Incheon'],
    'Australia': ['Melbourne', 'Brisbane', 'Perth'],
    'China': ['Beijing', 'Shanghai', 'Shenzhen'],
    'South Africa': ['Johannesburg', 'Cape Town', 'Durban'],
    'Canada': ['Toronto', 'Montreal', 'Vancouver']
}

In [ ]:
# Name of magazines being published
magazines = {
    'Germany': ['Bravo', 'InStyle', 'TV Movie'],
    'France': ['Télé Star', 'Grazia', 'Closer'],
    'UK': ['Heat', 'Grazia', 'Take a Break'],
    'Poland': ['Woman & Life', 'Gala', 'Twój Styl']
}

In [ ]:
# Occupations list
occupations = [
    'Student', 'Housewife', 'Programmer', 'Architect', 'Model',
    'Teacher', 'Doctor', 'Nurse', 'Lawyer', 'Engineer',
    'Accountant', 'Chef', 'Graphic Designer', 'Photographer', 'Writer',
    'Marketing Specialist', 'Sales Manager', 'Financial Analyst', 'Research Scientist',
    'Journalist', 'Electrician', 'Plumber', 'Mechanic', 'Entrepreneur',
    'Social Worker', 'Fitness Trainer', 'Artist', 'Musician', 'Pilot',
    'Travel Agent'
]

In [ ]:
# Generate random data
def random_date(start, end):
    """Generate a random date between `start` and `end`."""
    return start + timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

start_date = datetime(2023, 1, 1)
end_date = datetime(2024, 7, 1)

In [ ]:
# Generate unique user IDs
user_ids = np.arange(1, num_records + 1)

# Ensure unique article_id by using a sequence
article_ids = np.arange(1, num_records + 1)

In [ ]:
# Create dataset
data = {
    'article_id': article_ids,
    'date_time_publish': [random_date(start_date, end_date) for _ in range(num_records)],
    'author': [random.choice(fake_author_names) for _ in range(num_records)],
    'magazine_name': [random.choice(magazines[random.choice(['Germany', 'France', 'UK', 'Poland'])]) for _ in range(num_records)],
    'article_type': np.random.choice([
        'Horror', 'Romantic', 'Comedy', 'Movie Review', 'Health',
        'Biography', 'Economy', 'Politics', 'Family', 'Holiday Tips',
        'Home Decor Tips', 'Cooking Recipe', 'Tech'
    ], num_records),
    'gender_of_reader': np.random.choice(['Male', 'Female', 'Diverse'], num_records),
    'age_of_reader': np.random.randint(18, 70, num_records),
    'occupation_of_reader': [random.choice(occupations) for _ in range(num_records)],
    'date_time_customer_opened_article': [random_date(start_date, end_date) for _ in range(num_records)],
    'date_time_customer_shared_article': [random_date(start_date, end_date) for _ in range(num_records)],
    'time_spent_on_article': np.random.randint(60, 3600, num_records),
    'is_customer_subscriber': np.random.choice(['Yes', 'No'], num_records),
    'shared_article': np.random.choice(['Yes', 'No'], num_records),
    'liked_article': np.random.choice(['Yes', 'No'], num_records),
    'commented_on_article': np.random.choice(['Yes', 'No'], num_records),
    'country_of_publisher': np.random.choice(list(publisher_countries_cities.keys()), num_records)
}

In [ ]:
# Function to assign reader country and city based on publisher location
def assign_reader_location(publisher_country):
    if publisher_country in reader_countries_cities:
        # 70% chance for the reader to be from the same country as the publisher
        if np.random.rand() < 0.7:
            reader_country = publisher_country
            reader_city = random.choice(reader_countries_cities[reader_country])
        # 30% chance to be from other countries
        else:
            reader_country = random.choice(list(reader_countries_cities.keys()))
            reader_city = random.choice(reader_countries_cities[reader_country])
    else:
        # If no specific publisher country match, choose a random global country
        reader_country = random.choice(list(reader_countries_cities.keys()))
        reader_city = random.choice(reader_countries_cities[reader_country])

    return reader_country, reader_city

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df['city_of_publisher'] = df['country_of_publisher'].apply(lambda country: random.choice(publisher_countries_cities[country]))

In [ ]:
df[['country_of_reader', 'city_of_reader']] = df.apply(lambda row: assign_reader_location(row['country_of_publisher']), axis=1, result_type="expand")

In [ ]:
# Add new columns
df['user_id'] = np.random.choice(user_ids, num_records)  # Randomly assign user IDs
df['number_of_articles_read_by_user'] = df.groupby('user_id')['article_id'].transform('count')  # Number of articles read by each user
# df['subscription_status'] = df.groupby('user_id')['is_customer_subscriber'].transform('first')  # Subscription status of each user

# Calculate User Acquisition: Count unique readers per magazine
df['unique_readers_of_magazine'] = df.groupby('magazine_name')['user_id'].transform('nunique')

# Calculate Content Consumption: Average time spent per reader per magazine
df['average_time_spent_of_magazine'] = df.groupby('magazine_name')['time_spent_on_article'].transform('mean')

# Calculate Monetization: Number of purchases and subscription status
df['num_subscriber_of_magazine'] = df.groupby('magazine_name')['is_customer_subscriber'].transform(lambda x: (x == 'Yes').sum())
df['subscription_rate_of_magazine'] = df.groupby('magazine_name')['is_customer_subscriber'].transform(lambda x: (x == 'Yes').mean())

In [ ]:
# Function to introduce null values only for non-subscribers
def introduce_nulls_for_non_subscribers(df, columns, null_percentage=0.05):
    """Introduce null values into specified columns for non-subscribers only."""
    for col in columns:
        # Select non-subscribers
        non_subscribers = df[df['is_customer_subscriber'] == 'No']

        # Calculate the number of rows to nullify
        total_rows = len(non_subscribers)
        num_nulls = int(total_rows * null_percentage)

        # Randomly select indices to be set as NaN
        null_indices = np.random.choice(non_subscribers.index, size=num_nulls, replace=False)
        df.loc[null_indices, col] = np.nan

In [ ]:
# Columns to add null values to
columns_to_nullify = ['age_of_reader', 'occupation_of_reader', 'gender_of_reader', 'city_of_reader', 'country_of_reader']

# Introduce null values for non-subscribers
introduce_nulls_for_non_subscribers(df, columns_to_nullify)

# Introduce duplications using pd.concat
df_with_duplicates = pd.concat([df, df.sample(frac=0.05, random_state=0)]).reset_index(drop=True)

# Introduce wrong data types
df_with_duplicates.loc[0:10, 'age_of_reader'] = 'unknown'

# Introduce outliers
df_with_duplicates.loc[np.random.choice(df_with_duplicates.index, size=10), 'time_spent_on_article'] = 10000

# Introduce unclear column names
df_with_duplicates.rename(columns={'author': 'authr', 'time_spent_on_article': 'time_spent', 'date_time_customer_shared_article': 'share_time'}, inplace=True)

<ipython-input-149-bd829336a01d>:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_with_duplicates.loc[0:10, 'age_of_reader'] = 'unknown'

In [ ]:
df_with_duplicates.head()

,article_id,date_time_publish,authr,magazine_name,article_type,gender_of_reader,age_of_reader,occupation_of_reader,date_time_customer_opened_article,share_time,...,country_of_publisher,city_of_publisher,country_of_reader,city_of_reader,user_id,number_of_articles_read_by_user,unique_readers_of_magazine,average_time_spent_of_magazine,num_subscriber_of_magazine,subscription_rate_of_magazine
0,1,2023-10-27 05:29:34,Owen Turner,Closer,Tech,Male,unknown,Musician,2024-02-08 13:15:30,2023-02-11 11:48:46,...,Germany,Berlin,Germany,Munich,918,5,160,1868.890909,77,0.466667
1,2,2023-11-23 16:01:21,Charlotte Lewis,TV Movie,Biography,Male,unknown,Engineer,2023-11-17 02:30:24,2023-02-19 18:35:19,...,France,Lyon,France,Paris,1974,4,161,1810.771084,69,0.415663
2,3,2023-02-01 10:41:00,William Wilson,Grazia,Horror,Diverse,unknown,Pilot,2024-05-17 20:21:14,2023-09-06 01:04:50,...,UK,Birmingham,UK,Manchester,263,3,318,1865.914773,175,0.497159
3,4,2023-07-21 02:33:28,Scarlett Roberts,Télé Star,Movie Review,Female,unknown,Journalist,2023-05-06 20:17:02,2023-09-18 21:29:18,...,Poland,Krakow,Poland,Lodz,616,2,167,1804.763736,92,0.505495
4,5,2024-02-02 02:51:05,Amelia Hall,Télé Star,Cooking Recipe,Male,unknown,Journalist,2023-12-06 11:15:46,2023-08-28 09:40:01,...,Germany,Frankfurt,China,Shanghai,1050,3,167,1804.763736,92,0.505495

In [ ]:
df_with_duplicates.isnull().sum()

article_id                            0
date_time_publish                     0
authr                                 0
magazine_name                         0
article_type                          0
gender_of_reader                     52
age_of_reader                        52
occupation_of_reader                 53
date_time_customer_opened_article     0
share_time                            0
time_spent                            0
is_customer_subscriber                0
shared_article                        0
liked_article                         0
commented_on_article                  0
country_of_publisher                  0
city_of_publisher                     0
country_of_reader                    53
city_of_reader                       56
user_id                               0
number_of_articles_read_by_user       0
unique_readers_of_magazine            0
average_time_spent_of_magazine        0
num_subscriber_of_magazine            0
subscription_rate_of_magazine         0
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_with_duplicates.to_csv('/content/drive/MyDrive/BI/Customer Acquisition/customer_engagement_dirty_data.csv', index=False)